.element__like {
  background: none;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 21px;
  height: 19px;
  margin: auto 0;
}

.element__like:hover {
  opacity: 0.6;
  cursor: pointer;
}
