.profile__edit-button {
  background-image: url("../../../images/edit-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 1px solid #FFFFFF;
  margin-top: 37px;
  margin-left: 17px;
}
